<!DOCTYPE html>
<html>
<head>
    <title>Images</title>
</head>
<body>
    <h1>Images from the Database</h1>
    <% images.forEach(image => { %>
        <div>
<<<<<<< HEAD
            <h3><%= image.title %></h3>
            <p><%= image.description %></p>
            <img src="<%= image.url %>" alt="<%= image.title %>">
=======
            <h3><%= image.titulo %></h3>
            <p><%= image.descripcion %></p>
            <img src="/images/<%= image.ruta %>" alt="<%= image.titulo %>">
>>>>>>> Daniel
        </div>
    <% }); %>
</body>
</html>
<<<<<<< HEAD
=======


>>>>>>> Daniel
